<nav class="navbar-fixed-top2">
          <div class="container visible-xs">
            <div class="navbar-header">
              <a class="navbar-brand col-xs-9" href="index.html"><img src="src/img/logo2.png" alt="logo"></a>
              <a href="index.html"><img src="src/img/btn_home.gif" class="col-xs-3"></a>
            </div>
            <!-- 1列目 -->
            <div class="row">
              <div class="col-xs-12 btn-group text-center">
                <!-- ボタン：メッセージ -->
                <button class="btn btn-default col-xs-4" data-toggle="modal" data-target="#specialS">
                スイスからの<br>メッセージ
                </button>
                <div class="modal fade" id="specialS">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
                        </button>
                        <a href="special.html"><h4 class="modal-title">スイスからのメッセージ</h4></a>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li><a href="special.html#special01">「和食」が「シャスラ」の可能性を引き出す</a></li>
                          <li><a href="special.html#special02">駐日スイス大使に聞く</a></li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary btn-sm" data-dismiss="modal">閉じる</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ボタン：シャスラについて-->
                <button class="btn btn-default col-xs-4" data-toggle="modal" data-target="#aboutS">
                シャスラに<br>ついて
                </button>
                <div class="modal fade" id="aboutS">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
                        </button>
                        <a href="about.html"><h4 class="modal-title">シャスラについて</h4></a>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li data-dismiss="modal"><a href="about.html#area">生産地</a></li>
                          <li data-dismiss="modal"><a href="about.html#history">歴史</a></li>
                          <li data-dismiss="modal"><a href="about.html#features">特徴</a></li>
                          <!--<li><a href="about.html#rating">格付け</a></li>-->
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary btn-sm" data-dismiss="modal">閉じる</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ボタン：ワイナリー一覧-->
                <button class="btn btn-default col-xs-4" data-toggle="modal" data-target="#wineryS">
                ワイナリー<br>一覧
                </button>
                <div class="modal fade" id="wineryS">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
                        </button>
                        <a href="winery.html"><h4 class="modal-title">ワイナリー一覧</h4></a>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li><a href="winery.html#domaine">ドメーヌ・ドゥ・ダレー</a></li>
                          <li><a href="winery.html#patrick">パトリック・フォンジャラ</a></li>
                          <li><a href="winery.html#dubois">ル・フルーレス・デュボワ</a></li>
                          <li><a href="winery.html#obrist">オブリスト</a></li>
                          <li><a href="winery.html#bovard">ドメーヌ・ルイ＝ボヴァール</a></li>
                          <li><a href="winery.html#massy">リュック・マッシー</a></li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary btn-sm" data-dismiss="modal">閉じる</button>
                      </div>
                    </div>
                  </div>
                </div>
                </div> <!-- /1列目 -->
                <br><br><br>
                <!-- 2列目 -->
                <div class="col-xs-12 btn-group text-center ">
                  <!-- ボタン：ワインリスト -->
                  <button class="btn btn-default col-xs-4" data-toggle="modal" data-target="#listS">
                  ワイン<br>リスト
                  </button>
                  <div class="modal fade" id="listS">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button class="close" data-dismiss="modal">
                          <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
                          </button>
                          <a href="list.html"><h4 class="modal-title">ワインリスト</h4></a>
                        </div>
                        <div class="modal-body">
                          <ul>
                            <li data-dismiss="modal"><a href="list.html"><b>ワインリスト トップ </b></a></li><br>
                            <hr>
                            <li data-dismiss="modal"><a href="list.html#domaineW"><b>ドメーヌ・ドゥ・ダレー </b></a></li><br>
                            <li data-dismiss="modal"><a href="list.html#domaineW01">ラヴォー ヴィレッテ グラン・クリュ ル・シャスラ グラン・レゼルヴ</a></li>
                            <li data-dismiss="modal"><a href="list.html#domaineW02">ラヴォー ヴィレッテ グラン・クリュ シャスラ ブノワ・ヴィオリエ</a></li>
                            <hr>
                            <li data-dismiss="modal"><a href="list.html#duboisW"><b>ル・フルーレス・デュボワ</b></a></li>
                            <li data-dismiss="modal"><a href="list.html#duboisW01">ラヴォー デサレー・マルサンス グラン・クリュ デ・ラ・トウール</a></li>
                            <hr>
                            <li data-dismiss="modal"><a href="list.html#massyW"><b>リュック・マッシー</a></b></li>
                            <li data-dismiss="modal"><a href="list.html#massyW01">ラヴォー デサレー グラン・クリュ シュマン・ドゥ・フェール</a></li>
                            <hr>
                            <li data-dismiss="modal"><a href="list.html#bovardW"><b>ドメーヌ・ルイ＝ボヴァール</a></b></li>
                            <li data-dismiss="modal"><a href="list.html#bovardW01">ラヴォー デザレー グラン・クリュ メディネッテ</a></li>
                            <li data-dismiss="modal"><a href="list.html#bovardW02">ラヴォーカラマン グランクリュ イレックス</a></li>
                            <hr>
                            <li data-dismiss="modal"><a href="list.html#obristW"><b>オブリスト</a></b></li>
                            <li data-dismiss="modal"><a href="list.html#obristW01">シャブレ イヴォルヌ グラン・クリュ クロ・ドゥ・ロシェ</a></li>
                            <hr>
                            <li data-dismiss="modal"><a href="list.html#patrickW"><b>パトリック・フォンジャラ</a></b></li>
                            <li data-dismiss="modal"><a href="list.html#patrickW01">ラヴォー カラマン グラン・クリュ</a></li>
                            <li data-dismiss="modal"><a href="list.html#patrickW02">パスリエ・ド・ラヴォー</a></li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-primary btn-sm" data-dismiss="modal">閉じる</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ボタン：イベント-->
                  <button class="btn btn-default col-xs-4" data-toggle="modal" data-target="#eventS">
                  イベント<br>情報
                  </button>
                  <div class="modal fade" id="eventS">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button class="close" data-dismiss="modal">
                          <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
                          </button>
                          <a href="event.html"><h4 class="modal-title">イベント情報</h4></a>
                        </div>
                        <div class="modal-body">
                          <ul>
                            <li><a href="event.html#trial_tokyo2015">スイス・ヴォー州シャスラワイン テイスティング会</a></li>
                            <li><a href="event.html#dinner_tokyo2015">造り手たちと楽しむ「シャスラ」ワインと美食の夕べ in東京</a></li>
                            <li><a href="event.html#dinner_kyoto2015">造り手たちと楽しむ「シャスラ」ワインと美食の夕べ in山口</a></li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-primary btn-sm" data-dismiss="modal">閉じる</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ボタン：シャスラが飲める店-->
                  <a href="restaurant.html"><button class="btn btn-default col-xs-4" data-toggle="modal" data-target="#wineryS">
                    シャスラが<br>飲める店
                  </button></a>
                  </div> <!-- /.row-->
                  </div><!-- /.container -->
                </nav>