<div class="trigger-menus">
	<a href="index.html" class="home-btn"></a>
	<div class="nav-trigger"></div>
</div>
<div class=" navbar-collapse navbar-right">
	
	<div class="fb-share-button" data-href="http://chasselas.tv" data-layout="button"></div>
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">スイスからのメッセージ<i class="fa fa-angle-down"></i></a>
			<ul class="dropdown-menu">
				<li><a href="special.html#special01">「和食」が「シャスラ」の可能性を引き出す</a></li>
				<li><a href="special.html#special02">駐日スイス大使に聞く</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">シャスラについて<i class="fa fa-angle-down"></i></a>
			<ul class="dropdown-menu">
				<li><a href="about.html">シャスラについて</a></li>
				<li><a href="about.html#area">生産地</a></li>
				<li><a href="about.html#history">歴史</a></li>
				<li><a href="about.html#features">特徴</a></li>
				<!--<li><a href="about.html#rating">格付け</a></li>-->
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">ワイナリー一覧<i class="fa fa-angle-down"></i></a>
			<ul class="dropdown-menu">
				<li><a href="winery.html">ワイナリー一覧</a></li>
				<li><a href="winery.html#domaine">ドメーヌ・ドゥ・ダレー</a></li>
				<li><a href="winery.html#patrick">パトリック・フォンジャラ</a></li>
				<li><a href="winery.html#dubois">ル・フルーレス・デュボワ</a></li>
				<li><a href="winery.html#obrist">オブリスト</a></li>
				<li><a href="winery.html#bovard">ドメーヌ・ルイ＝ボヴァール</a></li>
				<li><a href="winery.html#massy">リュック・マッシー</a></li>
			</ul>
		</li>
		
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">ワインリスト<i class="fa fa-angle-down"></i></a>
			<ul class="dropdown-menu">
				<li><a href="list.html">ワインリスト トップ</a></li>
				<li class="divider"></li>
				<li class="dropdown-header"><a href="list.html#domaineW">ドメーヌ・ドゥ・ダレー </a></li>
				<li><a href="list.html#domaineW01">ラヴォー ヴィレッテ グラン・クリュ ル・シャスラ グラン・レゼルヴ</a></li>
				<li><a href="list.html#domaineW02">ラヴォー ヴィレッテ グラン・クリュ シャスラ ブノワ・ヴィオリエ</a></li>
				<li class="divider"></li>
				<li class="dropdown-header"><a href="list.html#duboisW">ル・フルーレス・デュボワ</a></li>
				<li><a href="list.html#duboisW01">ラヴォー デザレー・マルサンス グラン・クリュ デ・ラ・トゥール</a></li>
				<li class="divider"></li>
				<li class="dropdown-header"><a href="list.html#massyW">リュック・マッシー</a></li>
				<li><a href="list.html#massyW01">ラヴォー デザレー グラン・クリュ シュマン・ドゥ・フェール</a></li>
				<li class="divider"></li>
				<li class="dropdown-header"><a href="list.html#bovardW">ドメーヌ・ルイ＝ボヴァール</a></li>
				<li><a href="list.html#bovardW01">ラヴォー デザレー グラン・クリュ メディネッテ</a></li>
				<li><a href="list.html#bovardW02">ラヴォーカラマン グランクリュ イレックス</a></li>
				<li class="divider"></li>
				<li class="dropdown-header"><a href="list.html#obristW">オブリスト</a></li>
				<li><a href="list.html#obristW01">シャブレ イヴォルヌ グラン・クリュ クロ・ドゥ・ロシェ</a></li>
				<li class="divider"></li>
				<li class="dropdown-header"><a href="list.html#patrickW">パトリック・フォンジャラ</a></li>
				<li><a href="list.html#patrickW01">ラヴォー カラマン グラン・クリュ</a></li>
				<li><a href="list.html#patrickW02">パスリエ ド・ラヴォー</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">セット品<i class="fa fa-angle-down"></i></a>
			<ul class="dropdown-menu">
				<li><a href="set.html">セット品 トップ</a></li>
				<li><a href="set.html#set01">6ワイナリーおすすめ6本セット</a></li>
				<li><a href="set.html#set02">3ワイナリー飲み比べ６本セット</a></li>
				<li><a href="set.html#set03">シャスラワイン頒布会セット</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">イベント<i class="fa fa-angle-down"></i></a>
			<ul class="dropdown-menu">
				<li><a href="event.html">はじめに</a></li>
				<li><a href="event.html#trial_tokyo2015">スイス・ヴォー州シャスラワイン テイスティング会</a></li>
				<li><a href="event.html#dinner_tokyo2015">造り手たちと楽しむ「シャスラ」ワインと美食の夕べ in東京</a></li>
				<li><a href="event.html#dinner_kyoto2015">造り手たちと楽しむ「シャスラ」ワインと美食の夕べ in山口</a></li>
			</ul>
		</li>
		<li><a href="restaurant.html">シャスラが飲める店</a></li>
		<!--<li  class="social-share"><a href="#"><i class="fa fa-facebook"></i></a></li>-->
	</ul>
	<!--
	<ul class="social-share">
			<li  class="social-share"><a href="#"><i class="fa fa-facebook"></i></a></li>
	</ul>-->
</div>