
.container{
	  width: 1170px;
	margin: auto;
	padding: 0 15px;
}

.container > .navbar-header{
	margin: 0;
}
.navbar-fixed-top2{
	position: fixed;
	top: 0;
}
.navbar-brand{
	height: 70px;
}
.ie-event-list{

}
.ie-event-list img{
	width: 100%;
	height: auto;
}	
.ie-col{
	float: left;
}
#footer{
	width: 100%;
	float: left;
}
#footer2{
	width: 100%;
	float: left;
	padding-top: 10px;
}
#footer3{
	width: 100%;
	float: left;
	margin-bottom: 0;
}
#footer3 img{
	margin-top: -10px;
}

h1.header{
	font-size: 45px;
	font-weight: normal;
}
.margin-left-20{
	margin-left: 20px;
}
.margin-right-20{
	margin-right: 20px;
}

#page-top1{
	background-color: #005038;
	font-size: 14px;
}

p.header {
  line-height: 1.5;
  margin: 30px 10%;
}
p{
	font-size: 14px;
	line-height: 20px;
}
.ie-a-center{
	display: inline-block;
	width: 100%;
	text-align: center;
}

#area_one h3{
	line-height: 20px;
}

.wine-list-container{

}
.wine-list-container a{
	width: 125px;
	display: inline-block;
	float: left;
}

.restaurant_section{

}

.restaurant_section .col-sm-12 {
      width: 100%;
      float: left;
    }
.restaurant_section .col-sm-2{
      float: left;
    } 
.restaurant_section .col-sm-8{
      float: left;
    }
.restaurant_section #restaurant{
	width: 800px;
}    

#header-top-mobile{
	background-color: #c1e5fa !important;
}
#header-top-mobile .header b{
	font-size: 300%;
	font-weight: normal;
	color: #000;
}

#index_about{
	margin-top: 100px !important;
}

#spacer{
	display: none !important;
}