@charset "utf-8";

html, body {
	height:100%;
	background-color: #000000;
}
body {
	margin:0;
	padding:0;
}
#container {
	width:100%;
	position:relative;
	height:100%;
}
#imgBox {
	width:1000px;
	height:700px;
	overflow:hidden;
	position:absolute;
	top:50%;
	left:50%;
	margin:-350px 0 0 -500px;
	background-color: #fff;
}
#imgBox ul li {
	position:absolute;
	top:0;
	left:0;
	display:none;
}
