@font-face {
    font-family: 'mgen_1cpregular';
    src: url('../fonts/mgenplus-1cp-regular-webfont.eot');
    src: url('../fonts/mgenplus-1cp-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mgenplus-1cp-regular-webfont.woff2') format('woff2'),
         url('../fonts/mgenplus-1cp-regular-webfont.woff') format('woff'),
         url('../fonts/mgenplus-1cp-regular-webfont.ttf') format('truetype'),
         url('../fonts/mgenplus-1cp-regular-webfont.svg#mgen_1cpregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'BickhamScriptPro-Regular';
  src: url('../fonts/BickhamScriptPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/BickhamScriptPro-Regular.otf')  format('opentype'),
	     url('../fonts/BickhamScriptPro-Regular.woff') format('woff'), 
	     url('../fonts/BickhamScriptPro-Regular.ttf')  format('truetype'), 
	     url('../fonts/BickhamScriptPro-Regular.svg#BickhamScriptPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
	padding-top:150px;
	font-family:Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', YuGothic,sans-serif;
}

.img-banner{
	width: 100%;
	margin:0 0 25px;
}

p{
	line-height: 1.7;
	margin-left:0;
}

.product-intro p{
	letter-spacing: 0.25px;
}

.menus-box{
	list-style: none;
	display: inline-block;
	padding:0;
	margin:45px 0;
}

.menus-box li{
	float:left;
	width: 300px;
	margin:0 10px;
}

.menus-box a{
	display: block;
	font-size:20px;
	color:#fff;
	line-height: 24px;
	letter-spacing: 0.1px;
	padding:28px 5px 0;
	width: 300px;
	height: 150px;
	font-family:'mgen_1cpregular',Meiryo,'Hiragino Kaku Gothic ProN',sans-serif;
	background:url('../img/product/btn-menu.png') no-repeat center;
}

.menus-box a:hover{
	text-decoration: none;
}

.menus-box span{
	font-size:16px;
	display: block;
}

.product-section-title{
	position:relative;
	border-top:9px solid #fff;
	padding:25px 0 20px;
	margin:60px 0 50px;
	text-align: center;
	background:url('../img/product/bg-grid.png');
}

.product-section-title:before{
	content:"";
	display: block;
	width: 100%;
	height: 9px;
	top:-9px;
	left: 0;
	position: absolute;
	background: rgba(140,117,61,1);
	background: -moz-linear-gradient(left, rgba(140,117,61,1) 0%, rgba(214,183,108,1) 50%, rgba(140,117,61,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(140,117,61,1)), color-stop(50%, rgba(214,183,108,1)), color-stop(100%, rgba(140,117,61,1)));
	background: -webkit-linear-gradient(left, rgba(140,117,61,1) 0%, rgba(214,183,108,1) 50%, rgba(140,117,61,1) 100%);
	background: -o-linear-gradient(left, rgba(140,117,61,1) 0%, rgba(214,183,108,1) 50%, rgba(140,117,61,1) 100%);
	background: -ms-linear-gradient(left, rgba(140,117,61,1) 0%, rgba(214,183,108,1) 50%, rgba(140,117,61,1) 100%);
	background: linear-gradient(to right, rgba(140,117,61,1) 0%, rgba(214,183,108,1) 50%, rgba(140,117,61,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c753d', endColorstr='#8c753d', GradientType=1 );

	opacity:0.7;
}

.product-section-title:after{
	content:"";
	display: block;
	background:url('../img/product/kazari.png') no-repeat;
	width: 120px;
	height: 73px;
	position: absolute;
	top:-62px;
	left:50%;
	margin:0 0 0 -60px;
	z-index: 2;
}

.product-section-title h4,
.product-section-title h2{
	margin:0;
	line-height: 1.15;
	letter-spacing: 0.1px;
	text-align: center;
	color:#fff;
	font-family:'mgen_1cpregular',Meiryo,'Hiragino Kaku Gothic ProN',sans-serif;
}

.product-section-title h4{
	font-size:20px;
}

.product-section-title h2{
	font-size:36px;
}

.wine-images{
	text-align: center;
	margin:0 0 30px;
}

#set02 .wine-images{
	margin:0 0 -60px;
}

.wine-image img{
	display: block;
	margin:0 auto;
}

.wine-images-container{
	text-align: center;
}

.wine-group .container{
	max-width: 900px;
	margin:0 auto;
}

.wine-group p{
	letter-spacing: 0.1px;
}

.wine-group-details{
	margin:0 0 20px;
}

.wine-group-details:after{
	display: block;
	content:"";
	clear:both;
}

.wine-group-desc{
	width: 495px;
	float:left;
	line-height: 1.7;
	letter-spacing: 0.1px;
}

.wine-group-subdesc{
	width: 405px;
	float:right;
	padding:0 0 0 23px;
	line-height: 24px;
}

.wine-group-subdesc strong{
	font-size:20px;
	display: block;
	margin:0 0 15px;
}

.wine-group-subdesc strong.bigger{
	font-size:24px;
	margin:0 0 20px;
}

.wine-list-items{
	list-style: none;
	margin:0 0 25px;
	padding:0;
	counter-reset: ctr;
}

.wine-list-item{
	border-top:1px dashed #b8aa6a;
	padding:30px 8px;
}

#set02 .wine-list-item:first-child,
#set03 .wine-list-item:first-child{
	border: none;
}

#set03 .wine-list-item:last-child{
	border-bottom:none;
}

.wine-list-item:last-child,
#set03 .wine-list-item.favorite:last-child{
	border-bottom:1px dashed #b8aa6a;
}

.wine-list-item:after{
	display: block;
	content:"";
	clear:both;
}

.wine-list-featured{
	width: 230px;
	height: 290px;
	border:1px solid #d8d7d7;
	overflow: hidden;
	margin-right:-230px;
	float:left;
	position: relative;
}

.wine-list-featured:before{
	content: counter(ctr,decimal-leading-zero);
	counter-increment: ctr;
	position: absolute;
	font-family: 'BickhamScriptPro-Regular',serif;
	font-size: 70px;
	color:#4b4a4a;
	left:12px;
	top:10px;
	display: block;
	z-index: 2;
	line-height: 0.5;
}


#set02 .wine-list-featured:before{
	display: none;
}

#set03 .wine-list-item:nth-child(1) .wine-list-featured:before{
	background:url('../img/product/a.png') no-repeat;
	width: 43px;
	height: 25px;
}

#set03 .wine-list-item:nth-child(2) .wine-list-featured:before{
	background:url('../img/product/b.png') no-repeat;
	width: 44px;
	height: 27px;
}

#set03 .wine-list-featured:before{
	content:"";
	top:20px;
	left:18px;
}

.wine-list-content{
	width: 100%;
	float:right;
	padding-left:255px;
}

.wine-list-featured img{
	display: block;
	margin:10px auto 0;
}

.wine-list-title{
	display: block;
	margin:0 0 20px;
}

.wine-list-label,
.wine-list-subtitle{
	display: block;
	letter-spacing: 0.1px;
}

.wine-list-label{
	font-size:16px;
	margin:0 0 7px;
}

.wine-list-subtitle{
	color:#a89048;
	margin:0 0 22px;
}

.wine-list-desc{
	margin:0 0 22px;
}

.product-container{
	padding:0 0 30px;
}

.product-container-banner{
	margin:60px 0 0;
}

.product-container-banner img{
	display: block;
	width: 100%;
}

.product-banner-label{
	margin:0 0 15px;
}

.product-banner-label img{
	width: auto;
	display: inline-block;
	vertical-align: middle;
}

.banner-no{
	font-size: 70px;
	font-family:Adobe Garamond Pro,sans-serif;
	color:#b8aa6a;
	margin-right:10px;
	line-height: 1;
	vertical-align: middle;
	font-style: italic;
}

.banner-desc{
	display: inline-block;
	margin-left:10px;
	vertical-align: middle;
}

.banner-desc strong{
	font-size:20px;
	font-weight: 700;
	display: block;
	margin:0 0 3px;
}

.banner-desc span{
	font-size:14px;
	display: block;
	font-weight: 700;
	color:#9f9e9e;
	letter-spacing: .1px;
}


.section-title-logo{
	position: relative;
	display: inline-block;
}

.section-title-logo img{
	position: absolute;
	right:-200px;
	bottom:-10px;
}

.wine-images{
	text-align: center;
}

.double-image{
	display: inline-block;
	margin:0 20px;
}

.double-image img{
	display: block;
	margin:0 auto;
}

.double-label{
	font-family: 'Kozuka Mincho Pro',Meiryo,sans-serif;
	font-size:14px;
	display: block;
	margin:0 0 15px;
	font-weight: 700;
}

.double-label span{
	font-size:24px;
}

.wine-list-heading{
	background:#333332;
	color:#fff;
	text-align: center;
	line-height: 28px;
	margin:0;
	padding:8px 0;
	font-family: 'Kozuka Mincho Pro',Meiryo,sans-serif;
}

.wine-list-heading span{
	font-size:36px;
}

.chasellas-logo{
	float:right;
}

@media (max-width: 980px){
	.menus-box{
		text-align: left;
	}

	.menus-box li{
		float:none;
		width: auto;
		margin:0;
	}

	.menus-box a{
		width: 300px;
		height: 60px;
		padding:15px 0 0 15px;
		font-size:15px;
		background:url('../img/product/btn-menu-mobile.png') no-repeat;
		background-size:100%;
		display: block;
		margin:0 auto 7px;
		line-height: 18px;
	}


	.menus-box br{
		display: none;
	}

	.menus-box span{
		font-size:12px;
	}
}

@media (max-width: 767px) {
	.product-item{
		font-size:10px;
	}
	
	.container{
		padding:0 10px;
	}

	.navbar-fixed-top .container{
		padding:0;
	}

	.img-banner{
		margin:0 0 15px;
	}

	.menus-box{
		margin:10px 0 0;
	}

	.product-section-title h4{
		font-size:11px;
	}

	.product-section-title h2{
		font-size:19px;
	}

	.product-section-title:after{
		width: 57px;
		height: 35px;
		background-size:100%;
		top: -30px;
		margin-left:-28px;
	}

	.product-section-title:before{
		height: 5px;
		top:-5px;
	}

	.product-section-title{
		margin:50px 0 25px;
		padding:10px 0 12px;
		border-top:5px solid #fff;

	}

	

	.wine-group-desc,
	.wine-group-subdesc{
		width: 100%;
		padding:0;
		float:none;
	}

	.wine-group-subdesc img{
		display: block;
	}

	.wine-group-subdesc strong{
		font-size:10px;
		line-height: 18px;
		margin:0 0 7px;
	}

	.wine-group-subdesc strong.bigger{
		font-size:13px;
		margin:0 0 15px;
	}

	.wine-list-featured{
		width: 115px;
		height: 145px;
		margin-right:-115px;
	}

	.wine-list-featured img{
		max-width: 30px;
		margin:4px auto 0;
	}

	.wine-list-content:before{
		content:"";
		display: block;
		width: 115px;
		height: 145px;
		float:left;
		margin-right:-115px;
		margin-bottom:5px;
	}

	.wine-list-content{
		padding:0;
	}

	.wine-list-item{
		margin:0 -10px;
		padding:15px 10px;
	}

	.wine-list-title{
		width: auto;
		max-height: 30px;
		margin:0 0 10px;
	}

	.wine-list-label{
		font-size:13px;
		margin:0 0 10px;
		line-height: 15px;
	}

	.wine-list-desc{
		display: block;
		clear:both;
		width: 100%;
	}

	.wine-list-title,
	.wine-list-label,
	.wine-list-subtitle{
		padding-left:125px;
	}

	.wine-list-featured:before{
		font-size:35px;
		top:12px;
		left:7px;
		line-height: 0
	}

	.wine-list-desc{
		margin:0 0 17px;
	}

	.product-container{
		padding-bottom:10px;
	}

	.wine-images{
		margin:0 0 10px;
	}

	
	#set03 .wine-images{
		margin:0;
	}

	#set02 .wine-images{
		margin:0 0 -10px;
	}

	.banner-no{
		font-size:35px;
		margin-right:5px;
	}

	.product-banner-label{
		text-align: center;
	}

	.product-banner-label img{
		width: auto;
		max-height: 32px;
	}

	.product-banner-label img.without-tail{
		max-height: 24px;
		margin-bottom:5px;
	}

	.banner-desc{
		display: block;
		margin:10px 0 10px;
		line-height: 1.16;
	}

	.banner-desc strong{
		font-size:13px;
	}

	.banner-desc span{
		font-size:10px;
	}

	.product-container-banner{
		margin:0;
	}

	.wine-list-items{
		margin:0 0 20px;
	}

	.wine-images{
		max-width: 600px;
	}

	.double-image{
		width: 20%;
		margin:0;
		float:left;
		padding:0 5px;
	}

	.double-image img{
		max-width: 100%;
	}

	.double-label{
		font-size:10px;
		margin:0 0 6px;
	}

	.double-label span{
		font-size: 13px;
	}

	.section-title-logo img{
		display: none;
	}

	#set03 .wine-list-featured:before{
		background-size: 100% !important;
		width: 22px !important;
		top:10px;
		left:10px;
	}

	.chasellas-logo{
		display: none;
	}

	.wine-list-heading{
		font-size: 15px;
		line-height: 1;
		padding:14px 0;
	}
	
	.wine-list-heading span{
		font-size:20px;
	}
	
	.with-border{
		padding-top:20px;
		border-top:1px dashed #b8aa6a;
	}

}